.core {
  margin: 3em auto;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.product-detail {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .product-info {
    padding-right: 30px;
    flex-grow: 1;
    order: 2;
    width: 20%;
  }
  .product.media {
    width: 30%;
    min-width: 60px;
    padding-right: 30px;
    order: 1;
  }
  .product-essential {
    max-width: 316px;
    float: right;
    min-width: 270px;
    width: 39%;
    background: #f8f8f8;
    padding: 16px 16px;
    position: relative;
    order: 3;
  }
  div.sinopsis {
    width: 45%;
  }

  div.item.content {
    word-break: break-word;
    font-size: 0.8rem;
    line-height: 21px;
    text-align: justify;
    background: #fff;
    padding: 20px 0;
  }
}

.page-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 1.1;
  letter-spacing: 0.05em;
}

.price-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1em;
}

.price-container {
  display: flex;
  justify-content: space-between;
}

.price-label {
  font-size: 1.5rem;
  float: left;
  color: black;
  font-weight: 400;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.05em;
  line-height: 1;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.label {
  top: 4px;
  left: 0;
  background: 0 0;
  padding: 0;
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  bottom: unset;
}

.label.counter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.reduce {
  border-right-color: rgba(25, 118, 210, 0.5) !important;
}

.product-desc {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.product-desc {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 20px;
}

.product-desc > div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.product.data.items {
  position: relative;
  z-index: 1;
  border-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none none;
}

div.sinopsis {
  flex-grow: 1;
}

div.characteristics {
  max-width: 346px;
  min-width: 346px;
  padding-left: 30px;
  width: 100%;
}

.data.title {
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.product-desc > div > div {
  margin: 0;
  float: none;
  width: 100%;
}

div.table-wrapper {
  margin-bottom: 0;
}

div.table-wrapper ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

div.table-wrapper ul li {
  padding: 0 0 16px 0;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 0 top;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

div.table-wrapper ul li span.attr-label {
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
}

div.table-wrapper ul li span.attr-data {
  font-size: 0.8rem;
  display: block;
}
.product-image {
  width: 20em;
}

@media (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-detail {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .product-info {
    width: unset;
    margin: 14px auto 24px;
    order: 1;
    text-align: center;
  }
  .product.media {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 20px;
    float: none;
    min-width: 60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    order: 2;
    flex-grow: 1;
    position: relative;
  }
  .product-essential {
    order: 3;
    width: 100%;
    margin: 0 auto;
    padding: 14px 16px;
    position: relative;
  }

  .product-desc {
    flex-direction: column;
    margin-top: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    clear: both;
  }
  .product-desc > div {
    padding-left: 0 !important;
    min-width: unset !important;
    max-width: unset !important;
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
  }
  .product.data.items .data.title {
    padding: 20px 20px;
  }
  .product.data.items > .item.content {
    padding: 0 20px 30px;
  }
}
